.our-client-container {
  padding: 2.5rem 0;
}

.client-logo-content {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .our-client-container {
    display: none;
  }
}
