.latest-products-container {
  padding: 2.5rem 0;
}

.lp-title {
  text-align: center;
  color: #151875;
}

.latest-products-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2.5rem;
}
