.banner-body {
  width: 100%;
  background: #F2F0FF;
}

.banner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.banner-content {
  padding: 1.875rem;
}

.banner-content h6 {
  color: #FB2E86;
}

.banner-content p {
  color: #8A8FB9;
  text-align: justify;
}

.promotional-img-container {
  padding: 3.125rem;
}

.promotional-img {
  width: 100%;
}


/* Responsive */

@media only screen and (max-width: 992px) {
  .lhwQCj {
    width: 100%;
  }

  .banner-container {
    grid-template-columns: 1fr;
  }

  .promotional-img-container {
    margin: auto;
  }

  .promotional-img {
    width: 350px;
  }
}
