.page-title {
  padding: 4rem 5rem;
  background: #F6F5FF;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.625rem;
  padding: 2rem 0;
}

.contact-way-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.25rem;
}

.about-us-header,
.contact-header,
.form-content h2 {
  color: #151875;
}

.contact-content,
.about-us-desc,
.form-content p {
  color: #8A8FB9;
}

.get-in-touch-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 0;
  align-items: center;
}

.contact-img {
  width: 90%;
}

.contact-input {
  width: 80%;
  margin: 0.325rem 0;
  padding: 0.625rem 0.313rem;
  font-size: 1rem;
  outline: none;
  border: 1px solid #A4B6C8;
  border-radius: 0.313rem;
  color: #8A8FB9;
}

.message-box {
  width: 80%;
  margin: 0.325rem 0;
  padding: 0.625rem 0.313rem;
  font-size: 1rem;
  outline: none;
  border: 1px solid #A4B6C8;
  border-radius: 0.313rem;
  color: #8A8FB9;
}

.contact-input::placeholder,
.message-box::placeholder {
  color: #8A8FB9;
}

.submit-btn {
  padding: 0.625rem 1.25rem;
  background: #FB2E86;
  border: 0;
  color: #fff;
  border-radius: 0.188rem;
  cursor: pointer;
}
