.shop-list-container {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 1.25rem 0;
  align-items: center;
  border: 1px solid #9295AA;
  border-radius: 0.313rem;
}

.shop-list-img-container {
  padding: 1.25rem;
}

.product-image {
  width: 100%;
  height: 100%;
}

.shop-list-content {
  margin-left: 1.25rem;
}

.shop-list-content h2,
.reg-price {
  color: #111C85;
}

.desc-price {
  color: #FF2AAA;
  text-decoration: line-through;
  margin: 0 1.25rem;
}

.product-desc {
  color: #9295AA;
}

.shop-list-button-container {
  padding: 0.625rem 0;
}

.shop-list-button-container button {
  margin: 0 1.25rem;
  cursor: pointer;
}

.shop-list-button-container button:first-child {
  margin-left: 0;
}

.icons {
  color: #FFC416;
}

.btn-icon {
  color: #111C85;
  font-size: 1.25rem;
}

.shop-list-btn {
  background: transparent;
  border: none;
}
